body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.rounded {
  animation: breathing;
  animation: breathing 1s ease-out infinite;
  border: 1px red solid;
}
@-webkit-keyframes breathing {
  0% {
    transform: scale(0.9);
  }

  25% {
    transform: scale(1);
  }

  60% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.9);
  }
}
